<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>nyx</title>
    <link rel="stylesheet" href="/css/loader.css">
</head>
<body>

    <!--loader-->
    <div id="load-cont">
        <div id="load-text" style="font-size: x-large; font-family:monospace";></div>
        <div class="progress-bar">
            <div class="loaded"></div>
        </div>
    </div>
    <script src="/js/loader.js"></script>
    <!--end of loader-->

<!--Body Content Starts Here-->
<h1>Nyx - Home Page</h1>

</body>
</html>
